<div class="wrapper">
    <mat-toolbar color="primary" class="navbar" style="z-index: 100000000;">
      <div>
        Employee Dashboard
      </div>
      <div>
        <span routerLink="/myProfile">My Profile</span>
        
      <button
        type="button"
        class="btn btn-outline-warning logout text-center text-yellow m-2 btnsstyle"
        (click)="logout()"
      >
        <i class="fa fa-power-off"></i>
      </button>
      </div>
    </mat-toolbar>
    <div class="main">
      <app-sidebar [menus]="menus"></app-sidebar>