.modal-wrapper {
  z-index: 1000000;
}

.modal-title {
  font-size: 1.4rem;
}

.modal-header{
  padding: 0.4rem;
}

#form{
  padding: 1rem;
}
label {
  font-size: 1rem;
}

.date-input {
  max-width: 30%;
  padding: 1rem 0rem;
  font-size: 1rem;
}

.disabled-inputs {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  & > label {
    padding-right: 1rem;

    &:after {
      content: ":";
    }
  }
  & > span > input {
    width: 60%;
  }
}

.card{
    margin-top: 1rem;
}

.modal-footer{
    border: none;
    display: flex;
    justify-content: center;
    padding:0.2rem;

    & > button{
        font-size: 1rem;
    }
}

th{
    font-size: 1rem;
    padding: 0.2rem;
}
td{
  font-size: 1rem;
  padding: 0.1rem;
  height: 0.5rem;
}

input{
    text-align: center;
}
