<div class="modal-wrapper">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ (modalType === "update")? 'Update Timesheet' : 'New Timesheet' }}</h4>
  </div>
  <div class="modal-body">
    <form #form="ngForm" (ngSubmit)="handleSave(form.value)" novalidate>
      <div class="form-group" *ngIf="modalType !== 'update'">
        <label for="date">Select the week</label>
        <div class="input-group">
          <input
            id="date"
            class="form-control date-input"
            placeholder="yyyy-mm-dd"
            name="selectedDate"
            [ngModel]="selectedDate?.value"
            (ngModelChange)="convertDate($event)"
            ngbDatepicker
            [markDisabled]="isDisabled"
            #dp="ngbDatepicker"
            #selectedDate="ngModel"
          />
          <div class="input-group-append">
            <button
              style="font-size: 1rem;"
              class="btn btn-outline-secondary fas fa-calendar"
              (click)="dp.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </div>

      <div class="disabled-inputs">
        <label for="date">Start Date</label>
        <span
          ><input type="text" name="startDate" [ngModel]="modalType === 'update'? (response && (response.startDate | date)) : startDate" readonly
        /></span>
        <!-- {{ selectedDate.value | json }} -->
        <label for="date">End Date</label>
        <span
          ><input type="text" name="endDate" [ngModel]="modalType === 'update'? (response && (response.endDate | date)) : endDate" readonly
        /></span>
      </div>
    </form>
  
    <!-- Editable table -->
    <div class="card">
        <div id="table" class="table-editable">
          <form #form="ngForm" (ngSubmit)="handleSave(form.value)">
            <table
              class="table table-bordered table-responsive-md table-striped text-center"
            >
              <tr>
                <th scope="col" class="text-center">Project</th>
                <!-- <th scope="col" class="text-center">Client Name</th> -->
                <th scope="col" class="text-center">Task Type</th>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Hours</th>
                <th scope="col" class="text-center">Billable</th>
                <th scope="col" class="text-center">Status</th>
              </tr>

              <tr *ngFor="let date of datesArray; let id = index">
                <td>
                  <span>
                    <mat-form-field>
                      <mat-label>Project</mat-label>
                      <mat-select
                        name="project-{{id}}"
                        [ngModel]="response?.week[id]?.projectId?._id"
                        (ngModelChange)="handleProjectData(form.value)"
                      >
                      <mat-option [value]="null">Choose Among These</mat-option>
                        <mat-option
                          *ngFor="let project of projectArray"
                          [value]="project?._id"
                          >{{ project.projectName }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </span>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>Choose Task Type</mat-label>
                    <mat-select
                      name="task-type-{{id}}"
                      [ngModel]="response?.week[id]?.taskType"
                      required
                      #taskType="ngModel"
                    >
                      <mat-option
                        *ngFor="let taskType of taskTypes"
                        [value]="taskType.key"
                        >{{ taskType.value }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <span>
                    <input type="text" name="date-{{id}}" [ngModel]="datesArray[id]" readonly />
                  </span>
                </td>
                <td>
                  <span
                    ><input name="hours-{{id}}" [ngModel]="response?.week[id]?.hours" (ngModelChange)="handleProjectData(form.value)" type="number" min="0" max="100"
                  /></span>
                </td>
                <td>
                  <span>
                    <mat-checkbox
                      name="billable-{{id}}"
                      [ngModel]="response?.week[id]?.billable || false"
                    ></mat-checkbox>
                  </span>
                </td>
                <td>
                  <span>-</span>
                </td>
              </tr>

              <!-- {{ form.value | json }} -->
            </table>

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-dark"
                aria-label="Close"
                mat-button
                mat-dialog-close
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-outline-dark"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>