$color-primary: #ecbeb4;
$color-secondary: #476a6f;
$color-tirtiary-lighter:rgba(0, 0, 255, 0.26);
$color-tirtiary-light: #7eb09b;
$color-tirtiary-dark: #519e8a;
$color-text-primary: #777;
$color-text-white: #fff;

