<div class="wrapper">
  <app-navbar [dashboard]="dashboard"></app-navbar>
  <div class="main">
    <app-sidebar [menus]="menus"></app-sidebar>
    <section class="background_dashboard">
      <table class="empTable table responstable">
        <thead class="test" style="z-index: 100000000;" >
          <td>Employee Id</td>
          <td>Project Id</td>
          <td>Client</td>
          <td>Billable</td>
          <td>Date</td>
          <td>Hours</td>
          <!-- <th>Project members</th> -->
          <td>Status</td>
          <!-- <th>Actions</th> -->
        </thead>
       
        <tbody class="mt-5" *ngFor="let employee of usersArray">
          <review-row
            [employee]="employee"
            (deleteEmp)="deleteEmployee($event)"
          ></review-row>
          </tbody>
        <h2 class="message" *ngIf="message">{{ message }}</h2>
      </table>
    </section>
  </div>
</div>
