<div>
  <app-navbar [dashboard]="dashboard" [routerLink]="['/admin']"></app-navbar>
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar [menus]="menus"></app-sidebar>
    </div>
    <div class="col-10">
      <div class="custom-card">
      <table class="table table-striped table-fixed" id="myTable">
        <thead>
          <tr>
          <th>Employee Id</th>
          <th>Project Id</th>
          <th>Client</th>
          <th>Billable</th>
          <th>Date</th>
          <th>Hours</th>
          <th>Status</th>
          </tr>
        </thead>
       
        <tbody  style="height: 10px !important; overflow: auto"
         *ngFor="let employee of usersArray">
          <review-row
            [employee]="employee"
            (deleteEmp)="deleteEmployee($event)"
          ></review-row>
          </tbody>
        <h2 class="message" *ngIf="message">{{ message }}</h2>
      </table>
  </div>
</div>
</div>
</div>
