<div class="wrapper">
  <app-navbar></app-navbar>
    <div class="row">
      <div class="col-2 d-none d-lg-block">
        <app-sidebar></app-sidebar>
      </div>
      <div class="custom-card col-6">
        <div class="app-employee-form">
          <form
            class="form-body needs-validation"
            #form="ngForm"
            (ngSubmit)="resetPassword(form.value,form)"
            novalidate
          >
            <div
              class="h4 mb-4
                 d-flex justify-content-between font-weight-bold"
              style="font-size: 1.1rem;"
            >
            
              Reset Password
              <span ><h6>*&nbsp;Required fields</h6></span>
            
            </div>
  
            <div class="h4 mb-4 form-group"[class.has-error]="oldPasswordInput?.touched ">
              <label  class="control-label" for="oldPassword">*Old Password </label>
  
              <input
                type="password"
                id="oldPassword"
                class="form-control"
                placeholder="Old Password"
                [(ngModel)]="oldPassword"
                name="oldPassword"
                required
                #oldPasswordInput="ngModel"
               />
              <div class="invalid-feedback"><i class="fa fa-error"></i></div>
              <p *ngIf="oldPasswordInput?.invalid && oldPasswordInput?.touched">
                This field is required
              </p>
            </div>
            <div class="h4 mb-4 form-group"[class.has-error]="newPasswordInput.touched ">
                <label  class="control-label" for="newPassword">*New Password </label>
    
                <input
                  type="password"
                  id="newpassword"
                  class="form-control"
                  name="newPassword"
                  placeholder="new Password"
                  [(ngModel)]="newPassword"
                  name="newPassword"
                  required
                  #newPasswordInput="ngModel"
                  />
                <div class="invalid-feedback"><i class="fa fa-error"></i></div>
                <p *ngIf="newPasswordInput.errors?.required && newPasswordInput?.touched">
                  This field is required
                </p>
              </div>
              <div class="h4 mb-4 form-group"[class.has-error]="confirmPasswordInput?.touched ">
                <label  class="control-label" for="confirmPassword">*Confirm Password </label>
    
                <input
                  type="password"
                  id="confirmPassword"
                  class="form-control"
                  placeholder="confirm Password"
                  [(ngModel)]="confirmPassword"
                  name="confirmPassword"
                  appConfirmEqualValidator="newPassword"
                  required
                  #confirmPasswordInput="ngModel"
                  />
                <div class="invalid-feedback"><i class="fa fa-error"></i></div>
                <p *ngIf="confirmPasswordInput?.touched && confirmPasswordInput.errors?.required">
                  This field is required
                </p>
                <p *ngIf="confirmPasswordInput?.touched && confirmPasswordInput.errors?.notEqual && 
                !confirmPasswordInput.errors?.required">
                   Password and Confirm Password does not match 
              </div>
              <div class="button-parent" >
                <button 
                  mdbBtn
                  class=" btn logout text-center m-4"
                  mdbWavesEffect
                  type="submit"
                >
                   Reset Password
                </button>
    
                <button
                  type="button"
                  mdbBtn
                  class=" btn logout text-center m-4"
                  mdbWavesEffect
                   (click)="navigation()"
                >
                  Cancel
                </button>
               
              </div>
          </form>
         </div>
     </div>