.add-icon{
  position: absolute;
  top:0;
  right: 0;
}

h6{
  position: relative;
}
.input-box{
    z-index: 20;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & label{
      margin-bottom: 0 !important; 
    }  
    
    & input{
        max-width: 20%;
        font-size: 1rem;
        padding: 1rem 1rem;
        outline: none;
        border: none;
        transition: all .2s;
        &:focus{
            background-color: #cdcdcd;
        }
    }
}
.pagination-div {
  display: flex !important;
  justify-content: flex-end;
}

.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: center;

  }
  .pagination:active{
    background-color: #0183FF;
  }

.labelDate{
    width: 8%;
    font-size: 1.8rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.disabled{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}

// .add-icon{
//   // position: absolute;
//   left: 4rem;
//   top: 2rem;
// }

.table{
  margin-top: 2%;
}

thead{
font-size: 16px;
line-height: 1.4;
background-color: #0183ff;
text-align: center;
font-weight: 500;
margin-top: 8rem !important;
position: sticky;
color: white;}

th {
  font-size: 16px;
  line-height: 1.4;
  background-color: #0183ff;
  text-align: center;
  font-weight: 500;
  margin-top: 8rem !important;
  position: sticky;
  color: white;
 }

td{
  font-size: 14px;
  color: black;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
}

tbody:nth-child(even) {
  background: whitesmoke;
}
tbody:nth-child(odd) {
  background: white;
}
.timesheet-table__wrapper{
  display: flex;
}

@media(max-width: 800px){
}

.custom-card{
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: whitesmoke;
}
