  .pagination-div {
    display: flex !important;
    justify-content: flex-end;
  }

  .pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: center;
  }

  .pagination:active{
    background-color: #0183FF;
  }
  
  input {
    width: 100%;
    max-width: 240px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: black;
    border-radius: 10px;
    background: white;
  }

  input:focus {
    background-color: whitesmoke;
  }

  input::placeholder {
    color: black;
    font-weight: 300;
    font-size: 15px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
  }

  .main {
    display: flex;
  }

  .show i {
    color: pink;
  }

  .edit i {
    color: grey;
    cursor: pointer;
  }

  .delete i {
    color: red;
  }

  tbody:nth-child(even) {
    background: whitesmoke;
  }

  tbody:nth-child(odd) {
    background: white;
  }

  td {
    font-size: 14px;
    color: black;
    line-height: 1.4;
    text-align: center;
    font-weight: 400;
  }

  th {
    font-size: 16px;
    line-height: 1.4;
    background-color: #0183FF;
    text-align: center;
    font-weight: 500;
    margin-top: 8rem !important;
    position: sticky;
    color: white;
  }

  @media (min-width: 1200px) {
    .container {
      margin-left:20rem;
      margin-right: 1rem;
    }
  }
  
.table { 
  margin-top: 2%;
  table-layout: fixed;
  overflow: hidden;
  word-wrap: break-word;
}

.table tr:hover {
  background-color: #ddd;
  cursor: default;
}

@media (min-width: 1200px) {
  //  .container {
       //max-width: 1500px;
      // margin-top:1rem;
      // margin-left: 1rem;
      // margin-right: 3rem;
      // padding-left: 2rem;
      // padding-right: 2rem;
  //  }
}
  
  .input-group{
    float:right !important;
    align-items: center;
    justify-content: flex-end;
  }
  .input-group > .form-control
  { border-style: none;
    border-radius: 2rem;
    border-color: #868e9c;
    margin-bottom: 0.5rem;
    border-width: thin;
    margin-left: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  .custom-card{
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: whitesmoke;
    display: inline-block;
  }
  .input-group-addon
  {
    color:rgb(24, 161, 216);
  }
  .fa-sort:before
  {
    margin-left:0.5rem;
  }
  #myInput:active
  {
  background-color: white;
  }

  .pagination-div {
    display: flex !important;
    justify-content: flex-end;
  
    & > *{
      font-size: 1.4rem;
      padding-right: 1px;
    }
  }

  .clickable{
    cursor: pointer;
    
    &:hover{
        opacity: 0.4;
    }
  }

  .disabled{
    cursor: none;
    opacity: 0.4;
  }

  tr > th{
    z-index: 10;

    & > *{
      z-index: 10;
    } 
  }
  
  .no-data{
    width: 100%;
      text-align: center;
      position: absolute;
      font-size: 2rem;
      color: grey;
  }
