<div class="wrapper">
  <mat-toolbar color="primary" class="navbar" style="z-index: 100000000;">
    <div routerLink="/admindashboard" class="dashboard">
      Projects Dashboard
    </div>
    <div>
      <span routerLink="/myProfile">My Profile</span>

      <button type="button" class="btn btn-outline-warning logout text-center text-yellow m-2 btnsstyle"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
      </button>
    </div>
  </mat-toolbar>
  <div class="main">
    <app-sidebar [menus]="menus"></app-sidebar>

    <div class="container out-div" style="z-index: 100000000;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project Name

            </th>
            <th scope="col">Project Manager

            </th>
            <th scope="col">Project Members

            </th>
            <th scope="col">Start Date

            </th>
            <th scope="col">End Date

            </th>
            <th scope="col">Status

            </th>
            <th scope="col">View
            </th>
            <th scope="col">Update
            </th>
            <th scope="col">Delete
            </th>
          </tr>

        </thead>
        <tbody  *ngFor="let project of projectsArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <tr>
            <td>
             {{project.project.projectName}}
            </td>
            <td>
              {{project.projectManagerName}}
            </td>
            <td>
             {{project.memberName}}
            </td>
            <td>
              {{project.project.startDate}}
            </td>
            <td>
              {{project.project.endDate}}
            </td>
            <td>
              {{project.project.status}}
            </td>
            <td>
              <a [routerLink]="['/projectform/details', project._id]">
                <i class="fas fa-eye"></i>
              </a>
            </td>
            <td>
              <a class="edit" [routerLink]="['/projectform',project._id]">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
            <td>
              <a class="delete" (click)="deleteProject(project._id)"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-div">
        <ngb-pagination [collectionSize]="projectsArray.length" [(page)]="page" [maxSize]="5" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrapper">
  <mat-toolbar color="primary" class="navbar" style="z-index: 100000000;">
    <div routerLink="/admindashboard" class="dashboard">
      Projects Dashboard
    </div>
    <div>
      <span routerLink="/myProfile">My Profile</span>

      <button type="button" class="btn btn-outline-warning logout text-center text-yellow m-2 btnsstyle"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
      </button>
    </div>
  </mat-toolbar>
  <div class="main">
    <app-sidebar [menus]="menus"></app-sidebar>
    <section class="background_dashboard">
      <table id="dtBasicExample" class="table table-striped table-bordered table-sm empTable responstable" cellspacing="0" width="100%">
        <!- <thead class="test" style="z-index: 100000000;" >
          <td>Project</td>
          <td>Project Manager</td>
          <td>Start Date</td>
          <td>End Date</td>
          <!-
           <th>Project members</th> -->
<!-- <td>Status</td>
          <td>View</td>
          <td>Update</td>
          <!- <th>Actions</th> -->
<!-- </thead> -->
<!-- <thead class="head-design fixed">
          <tr>
            <th class="th-sm">Project

            </th>
            <th class="th-sm">Project Manager

            </th>
            <th class="th-sm">Start Date

            </th>
            <th class="th-sm">End Date

            </th>
            <th class="th-sm">Status

            </th>
            <th class="th-sm">View
            </th>
            <th class="th-sm">Update
            </th>
            <th class="th-sm">Delete
            </th>
          </tr>
        </thead> -->
<!-- <tbody class="mt-5" *ngFor="let project of projectsArray">
          <project-row
            [project]="project"
            (deleteEmp)="deleteEmployee($event)"
          ></project-row>
        </tbody> -->
<!-- <tbody class="mt-5" *ngFor="let project of projectsArray">
          <project-row
            [project]="project"
            (deleteEmp)="deleteEmployee($event)"
          ></project-row>
          </tbody> --
        <tbody class="mt-5" *ngFor="let project of projectsArray">
          <tr class="">
            <td>
              {{project.projectName}}
            </td>
            <td>
              {{project.projectManager}}
            </td>
            <td>
              {{project.startDate}}
            </td>
            <td>
              {{project.endDate}}
            </td>
            <td>
              {{project.status}}
            </td>
            <td>
              <a [routerLink]="['/employeeform/details', project.empId]">
                <i class="fas fa-eye"></i>
              </a>
            </td>
            <td>
              <a class="edit" [routerLink]="['projectform', 'update', project.empId]">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
            <td>
              <a class="delete" (click)="deleteEmployee(project.empId)"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
      </table>
    </section>
  </div>
</div> -->
