<div>
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-2 d-none d-lg-block">
    <app-sidebar [menus]="menus"></app-sidebar>
    </div>
    
    <div class="col-10">
      <div class="custom-card">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
      </span>

        <input type="text" class="form-control"  id="myInput" (keyup)="myFunction()" placeholder= 'Search By Project Name'/>        
    </div>
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">Project Name<i class="fas fa-sort" (click)="sortList()"></i>

            </th>
            <th scope="col">Project Manager

            </th>
            <th scope="col">Project Members

            </th>
            <th scope="col">Start Date

            </th>
            <th scope="col">End Date

            </th>
            <th scope="col">Status

            </th>
            <th scope="col">View
            </th>
            <th scope="col">Update
            </th>
            <th scope="col">Delete
            </th>
          </tr>

        </thead>
        <tbody  *ngFor="let project of projectsArray">
          <tr>
            <td>
             {{project.project.projectName}}
            </td>
            <td>
              {{project.projectManagerName}}
            </td>
            <td>
             {{project.memberName}}
            </td>
            <td>
              {{project.project.startDate}}
            </td>
            <td>
              {{project.project.endDate}}
            </td>
            <td>
              {{project.project.status}}
            </td>
            <td>
              <a [routerLink]="['/projectform','get',project.project._id]">
                <i class="fas fa-eye"></i>
              </a>
            </td>
            <td>
              <a class="edit" [routerLink]="['/projectform','update',project.project._id]">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
            <td>
              <a class="delete" (click)="deleteProject(project.project._id)"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-div">
        <a class="move-left" [ngClass]="{'disabled': page === 1}" (click)="handlePaginationResult('prev')">{{page}<i class="fas fa-arrow-circle-left"></i></a>
        <a class="move-right" [ngClass]="{'disabled': page * limit >= dataSize}" (click)="handlePaginationResult('next')"><i class="fas fa-arrow-circle-right"></i>{{page}}</a>
      </div>
      
    </div>
  </div>
  </div>
</div> 
