<div class="wrapper">
  <mat-toolbar color="primary" class="navbar" style="z-index: 100000000;">
    <div routerLink="/admindashboard" class="dashboard">
      Projects Dashboard
    </div>
    <div>
      <span routerLink="/myProfile">My Profile</span>

      <button type="button" class="btn btn-outline-warning logout text-center text-yellow m-2 btnsstyle"
        (click)="logout()">
        <i class="fa fa-power-off"></i>
      </button>
    </div>
  </mat-toolbar>
  <div class="main">
    <app-sidebar [menus]="menus"></app-sidebar>
    <div class="container out-div" style="z-index: 100000000;">
      <input type="text" class="input-design" id="myInput" (keyup)="myFunction()" placeholder="Search by Project Name">
      <p class="para-design"><button class="p-2" (click)="sortTable()">Sort by Project Name</button></p>
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th scope="col">Project Name

            </th>
            <th scope="col">Project Manager

            </th>
            <th scope="col">Start Date

            </th>
            <th scope="col">End Date

            </th>
            <th scope="col">Status

            </th>
            <th scope="col">View
            </th>
            <th scope="col">Update
            </th>
            <th scope="col">Delete
            </th>
          </tr>

        </thead>
        <tbody id="adminTable"
          *ngFor="let project of projectsArray | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <tr>
            <td>
              {{project.projectName}}
            </td>
            <td>
              {{project.projectManager}}
            </td>
            <td>
              {{project.startDate}}
            </td>
            <td>
              {{project.endDate}}
            </td>
            <td>
              {{project.status}}
            </td>
            <td>
              <a [routerLink]="['/projectform/details', project._id]">
                <i class="fas fa-eye"></i>
              </a>
            </td>
            <td>
              <a class="edit" [routerLink]="['/projectform',project._id]">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
            <td>
              <a class="delete" (click)="deleteProject(project._id)"><i class="fas fa-trash"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination-div">
        <ngb-pagination [collectionSize]="projectsArray.length" [(page)]="page" [maxSize]="5" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>