.fixed-top{
  z-index: 10 !important;
}


.profile{
    margin-right: 0.5rem;
    cursor: pointer;
    outline: none;
  }
  .logout
  {
   float: right;
   color: #2f8fe9b4;
   border: hidden;
   background-color: white !important;
   outline: none;

  }
  .navbar{
   height: 5rem;
   background-color: black;
  }
  .logo-img{
    width: 75px;
    height: 75px;
    
  }
  .navbar-nav{
    align-items: flex-end;
  }

  form{
    display: flex;
    justify-content: flex-end;
  }

  li{
    a{
      i{
        padding: 0 1rem 0 0 !important;
      }
    }
  }