
.profile{
    margin-right: 0.5rem;
    cursor: pointer;
    outline: none;
  }

  .logout
  {
   float: right;
   color: #2f8fe9b4;
   border: hidden;
   background-color: white !important;
   outline: none;

  }

  .navbar{
   height: 5rem;
   background-color: black;
  }
  .logo-img{
    width: 75px;
    height: 75px;
    
  }