
.profile{
    margin-right: 0.5rem;
  }

  .logout
  {
   float: right;
   color: #2f8fe9b4;
   outline-style: auto;
   outline-color: #2f8fe9b4;
   outline-width: inherit;
  }

  .navbar{
   height: 5rem;
   background-color: black;
  }
  .logo-img{
    width: 75px;
    height: 75px;
    
  }