<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable table</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <a class="text-success" (click)="add()">
            <!-- <mdb-icon fas icon="plus" size="2x"></mdb-icon> -->
          </a>
        </span>
        <table class="table table-bordered table-responsive-md table-striped text-center">
          <tr>
            <th class="text-center">empId</th>
            <th class="text-center">Project</th>
            <th class="text-center">Client Name </th>
            <th class="text-center">Location</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Date</th>
            <th class="text-center">Hours</th>
            <th class="text-center">Billable</th>
            <th class="text-center">Status</th>
          </tr>
            <!-- <th class="text-center">Remove</th> -->
       
          <tr *ngFor="let timesheet of timesheetList; let id=index;">
            <td>
              <span>{{timesheet.empObjId.name}}</span>
            </td>
            <td>
              <span>{{timesheet.week[id].pId.projectName}}</span>
            </td>
            <td>
              <span>{{timesheet.customerName}}</span>
            </td>

            <td>
              <span>{{timesheet.week[id].taskType}}</span>
            </td>
            <td>
              <span>{{timesheet.startDate |date}}</span>
            </td>
            <td>
              <span>{{timesheet.endDate |date}}</span>
            </td>
            <td>
              <span>{{timesheet.week[id].date |date}}</span>
            </td>
            <td>
              <span>{{timesheet.week[id].hours}}</span>
            </td>
            <td>
              <span>{{timesheet.billable}}</span>
            </td>
            <td>
              <span>{{timesheet.status}}</span>
            </td> 
          
          </tr>
          </table>
            <!-- <td>
              <span class="table-remove">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Remove</button>
              </span>
            </td> -->
         
      </div>
    </div>