.add-icon{
  position: absolute;
  top:0;
  right: 0;
}

h6{
  position: relative;
}
.input-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.2rem;

  & label {
    margin-bottom: 0 !important;
    margin-right: 0.2rem;
  }

  & input {
    max-width: 15%;
    font-size: 0.8rem;
    padding: 0.2rem 0.2rem;
    outline: none;
    border: 1px solid black;
    transition: all 0.2s;
    &:focus {
      background-color: #cdcdcd;
    }
  }
}
.pagination-div {
  display: flex !important;
  justify-content: flex-end;

  & > *{
    font-size: 1.4rem;
    padding-right: 1px;
  }
}

.pagination {
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  align-items: center;
}
.pagination:active {
  background-color: #0183ff;
}

.labelDate {
  font-size: 0.8rem;
  font-weight: bold;
  overflow: hidden !important;
}

.disabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}


.table{
  margin-top: 2%;
  table-layout: fixed;
  overflow: hidden;
  word-wrap: break-word;
}

.table tr:hover {
  background-color: #ddd;
  cursor: default;
}

thead{
font-size: 16px;
line-height: 1.4;
background-color: #0183ff;
text-align: center;
font-weight: 500;
margin-top: 8rem !important;
position: sticky;
color: white;}

th {
  font-size: 16px;
  line-height: 1.4;
  background-color: #0183ff;
  text-align: center;
  font-weight: 500;
  margin-top: 8rem !important;
  position: sticky;
  color: white;
  border-top: 0 !important;
  border-bottom: 0 !important;
 }

td{
  font-size: 14px;
  color: black;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
}

tbody:nth-child(even) {
  background: whitesmoke;
}
tbody:nth-child(odd) {
  background: white;
}
.timesheet-table__wrapper{
  display: flex;
}

@media(max-width: 800px){
}

.custom-card{
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: whitesmoke;
}

.no-data{
  width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2rem;
    color: grey;
}

.btn{
  margin-left: 0.2rem;
  padding: 0.2rem 0.7rem 0.2rem 0.7rem;
  outline-width: thin;
  outline-style: solid;
}