@media all and (min-width: 768px) {

  //   .table-heading{
  //     background-color: rgb(235, 193, 55);
  //   }  
  // tr {
  //   td {
  //     vertical-align: middle !important;
  //   }

  //   span {
  //     &:not([class]) {
  //       padding: 1rem 1rem;
  //     }
  //   }
  //     tr {
  //       td {
  //         vertical-align: middle !important;
  //       }

  //       span {
  //         &:not([class]) {
  //           padding: 1rem 1rem;

  //         }
  //       }
  //     }

  //   }
//  .modal-wrapper
//  {
//    transform: translateY(70px);
//  }
.table-add
{
  position: fixed;
  top:65px;
  right:20px;
}
    th {
      background-color: #ffc107aa;
      font-family: Lato-Bold;
      font-size: 18px;
      line-height: 1;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-right: 10px;
      text-align: center;
    }

    td {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 15px;
      color: black;
      line-height: 1.4;
      text-align: center;
      padding-top: 18px;
      padding-bottom: 10px;
      padding-right: 10px;
    }

    table {
      position: fixed;

    }

    .card-body {
      padding: 0;
    }

    tbody:nth-child(even) {
      background: white;
    }

    tbody:nth-child(odd) {
      background: #efefef;
    }

    .navbar {
      justify-content: space-between;
      height: 4rem;
      background-color: black;
    }

    span {
      padding-right: 2.5rem;
      cursor: pointer;
    }

    .table-responsive-stack tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
    }


    .table-responsive-stack td,
    .table-responsive-stack th {
      display: block;
      /*      
   flex-grow | flex-shrink | flex-basis   */
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
    }

    .table-responsive-stack .table-responsive-stack-thead {
      font-weight: bold;
    }

@media screen and (max-width: 768px) {
   .table-responsive-stack tr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 3px solid #ccc;
      display:block;
      
   }
   /*  IE9 FIX   */
   .table-responsive-stack td {
      float: left;
      width:100%;
   }
}
  