<div>
  <app-navbar [dashboard]="dashboard" [routerLink]="['/admin']"></app-navbar>
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar [menus]="menus"></app-sidebar>
    </div>
    <div class="col-10">
      <div class="custom-card">
      <h6 class="card-header text-center font-weight-bold text-uppercase">
        Timesheets
            <mdb-icon fas icon="plus" class="add-icon text-success" size="2x" (click)="openDialog()"></mdb-icon>
      </h6>
          <table
            class="table table-striped table-fixed" id="myTable"
          >
            <thead>
              <th scope="col">Employee Name</th>
              <th scope="col">Project</th>
              <th scope="col">Task Type</th>
              <th scope="col">Date</th>
              <th scope="col">Hours</th>
              <th scope="col">Billable</th>
              <th scope="col">Status</th>
            </thead>
            
            <ng-template ngFor let-response [ngForOf]="response">
              <tr *ngFor="let week of response.week; let id=index;">
                <ng-template [ngIf]="response.week[id].projectId">
                  <td class="text-center">{{ response.empObjId.name }}</td>
                  <td class="text-center">{{ response.week[id].projectId?.projectName }}</td>
                  <td class="text-center">{{ response.week[id].taskType }}</td>
                  <td class="text-center">{{ response.week[id].date | date }}</td>
                  <td class="text-center">{{ response.week[id].hours }}</td>
                  <td class="text-center">{{ response.week[id].billable }}</td>
                  <td class="text-center">{{ response.week[id].status }}</td>
                </ng-template>
                </tr>
            </ng-template>
          </table>
        </div>
      </div>
    </div>
  </div>    
<!-- </div> -->
<!-- </div> -->