<tr>
  <td>
    {{ employee.empId }}
  </td>
</tr>

<tr>
  <td>
    {{ employee.name }}
  </td>
</tr>
  <!-- <td>
    {{ employee.email }}
  </td>
  <td>
    {{ employee.designation }}
  </td>
  <td>
    {{ employee.role }}
  </td>
  <td> -->
    <button
      class="show"
      [routerLink]="['/employee/details', employee.empId]"
    >
      <i class="fas fa-eye"></i>
    </button>
  <!-- </td> -->
  <td>
    <button
      class="edit"
      [routerLink]="['/employee', 'update', employee.empId]"
    >
      <i class="fas fa-pencil-alt"></i>
    </button>
  </td>
  <td>
    <button class="delete" (click)="deleteEmployee(employee.empId)">
      <i class="fas fa-trash"></i>
    </button>
  </td>
<!-- </tr> -->