<div>
  <app-navbar></app-navbar>
  <div class="row">
    <div class="col-2 d-none d-lg-block">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10">
         <div class="container-fluid">
             <div class="row">
                <div class="col-md-5 projectchart">
                    <h2>Projects Status </h2>
                    <canvas
                      baseChart
                      [chartType]="'pie'"
                      [datasets]="projectpieChartData"
                      [labels]="projectpieChartLabels"
                      [options]="pieChartOptions"
                      [legend]="true"
                      [colors]="projectpieChartColor"
                      (chartClick)="onChartClick($event)"
                    >
                  </canvas>
                
             </div>  
              <div class="col-md-5 timesheetchart">
                <h2>Timesheets Status </h2>
                 <canvas
                    baseChart
                   [chartType]="'pie'"
                   [datasets]="timesheetpieChartData"
                   [labels]="timesheetpieChartLabels"
                   [options]="pieChartOptions"
                   [legend]="true"
                   [colors]="timesheetpieChartColor"
                   (chartClick)="onChartClick($event)"
                 >
             </canvas>  
             </div>
          </div> 
      </div>     
   </div>
 </div>
</div>