<div class="app-project-manager">
  <app-navbar></app-navbar>
  <div class="main">
    <app-sidebar [menus]="menus"></app-sidebar>

    <section class="background_dashboard">
      <table class="empTable table responstable">
        <thead class="test">

          <td>Employee Id</td>
          <td>Project</td>
          <td>Client</td>
          <td>Location</td>
          <td>Start Date</td>
          <td>End Date</td>
          <td>Date</td>
          <td>Hours</td>
          <td>Billable</td>
          <td>Status</td>
        </thead>
        <tbody class="mt-5" *ngFor="let employee of usersArray">
          <table-row
            [employee]="employee"
            (deleteEmp)="deleteEmployee($event)"
          ></table-row>
        </tbody>
        <h2 class="message" *ngIf="message">{{ message }}</h2>
      </table>
    </section>
  </div>
</div>
