.pagination-div {
  display: flex !important;
  justify-content: flex-end;
}

.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: center;

  }
  .pagination:active{
    background-color: #0183FF;
  }
 

  // .para-design {
  //   color: black;
  //   font-size: 20px;
  //   margin-top: 1rem;
  // }

  input {
    width: 100%;
    max-width: 240px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: black;
    border-radius: 10px;
    background: white;
  }

  input:focus {
    background-color: whitesmoke;
  }

  input::placeholder {
    color: black;
    font-weight: 300;
    font-size: 15px;
  }
.wrapper{
 display: flex;
 flex-direction: column;
 overflow-y: hidden;
}

.main {
  display: flex;
}
.show i {
  color: pink;
}
.edit i {
  color: grey;
  cursor: pointer;
}
.delete i {
  color: red;
}

tbody:nth-child(even) {
  background: whitesmoke;
}
tbody:nth-child(odd) {
  background: white;
}
td {
  font-size: 14px;
  color: black;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  // height: 50px !important;
}
th {
  font-size: 16px;
  line-height: 1.4;
  background-color: #0183ff;
  text-align: center;
  font-weight: 500;
  margin-top: 8rem !important;
  position: sticky;
  color: white;
 }

//  .app-main[_ngcontent-meo-c1] {
//   padding: 0 8.4rem;
//   min-height: 8vh !important;
//   display: -webkit-box;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   flex-direction: column;
//   justify-content: space-around;
//   text-align: justify;
//  }

//  tr{
//   //  height: 30px;
//  }
 @media (min-width: 1200px){
 .container {
     //max-width: 1500px;
    margin-left: 20rem;
    margin-right: 1rem;

 }
}

.table{
  margin-top: 2%;
}
@media (min-width: 1200px) {
  //  .container {
  //      //max-width: 1500px;
  //     // margin-top:1rem;
  //     // margin-left: 1rem;
  //     // margin-right: 3rem;
  //     // padding-left: 2rem;
  //     // padding-right: 2rem;
  //  }
}
.input-group{
  float:right !important;
  align-items: center;
  justify-content: flex-end;
}
.input-group > .form-control
{ border-style: ridge;
  border-radius: unset;
  border-color: rgb(134, 142, 156);
  margin-bottom: 0.5rem;
  border-width: thin;

}
.custom-card{
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: whitesmoke;
  display: inline-block;
}
.form-control {
  float: right !important;
  border: ridge;
}
#myInput:active {
  background-color: white;
}
.input-group-addon
{
  color:rgb(24, 161, 216);
}
.fa-sort:before
{
  margin-left:0.5rem;
}
#myInput:active
{
background-color: white;
}
.page-link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

