.user-list{
  font-size: 50px;
  margin-left: 35%;
  color: rgb(148, 63, 17);
}

.panel{
  background-color:#ECEEF1;
}
.panel > .panel-heading {
  line-height: 2.5;
  background-color: #6C7A8D;
  color: #C3CEDD;
  height: 55px;
}
.panel-info{
  border: 0;
}

.pagination-div{
  display: flex !important;
  justify-content: center ;
}

.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    align-items: center;

  }

  .para-design {
    color: black;
    font-size: 20px;
    margin-top: 1rem;
  }

  input {
    width: 100%;
    max-width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: black;
    border-radius: 10px;
    background: white;
  }

  input:focus {
    background-color: lightblue;
  }

  input::placeholder {
    color: black;
    font-weight: 500;
    font-size: 20px;
  }

.wrapper{
 display: flex;
 flex-direction: column;
 overflow-y: hidden;
}
.main{
 display: flex;
}
.show i{
 color: pink;
}
.edit i{
 color: grey;
 cursor: pointer;
}
.delete i {
 color: red;
}

tbody:nth-child(even) {   background: whitesmoke}
tbody:nth-child(odd) {   background:white }
td{
  font-size: 14px;
  color:black;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  padding-top: 5px;
  height: 50px!important;
 }
 th{
  font-size: 16px;
  line-height: 1.4;
  background-color: #0183FF;
  text-align: center;
  font-weight: 500;
  margin-top: 8rem!important;
  position: sticky;
  color: white;
 }
 .app-main[_ngcontent-meo-c1] {
  padding: 0 8.4rem;
  min-height: 8vh !important;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
 }
 tr{
   height: 30px;
 }
 @media (min-width: 1200px){
 .container {
     //max-width: 1500px;
    margin-left: 6rem;
    margin-right: 1rem;
 }
}

.table{
  margin-top: 2%;
}

.some-horizontal-container {
  pointer-events: none;
}
// .card{
//   width: 75rem;
//   height: fit-content;
//   margin-top: 1.5rem;

// }