  <div class="header">
    <div class="header__logo-container"></div>
    <div class="btn-group d-flex">
      <button
        type="button"
        mdbBtn
        class="button-operations"
        color="primary"
        mdbWavesEffect
        [routerLink]="['/employeeform/create', 'create']"
      >
        Create Employee
      </button>
      <button
        type="button"
        mdbBtn
        color="success"
        class="button-operations"
        mdbWavesEffect
        [routerLink]="['/employeeform/update', 'update']"
      >
        Update Employee
      </button>
      <button
        type="button"
        mdbBtn
        color="secondary"
        class="button-operations"
        (click)="tabularData()"
        mdbWavesEffect
      >
        Show Details
      </button>
      <button
        type="button"
        mdbBtn
        color="danger"
        mdbWavesEffect
      >
        Delete Employee
      </button>
    </div>
      <button type="button"
      class="btn btn-outline-warning btn-danger text-center text-white font-weight-bold m-2 btnsstyle"
      (click)="takeToProjects()">Projects Dashboard
    </button>
  
  </div>
  <section class="background_dashboard">
    <table class="empTable">
      <tr>
        <th>Employee Id:</th>
        <th>Name:</th>
        <th>Email:</th>
        <th>Designation:</th>
        <th>Role:</th>
      </tr>
      <tbody class="mt-5" *ngFor="let employee of usersArray">
        <tr>
          <td>
            {{ employee.empId }}
          </td>
          <td>
            {{ employee.name }}
          </td>
          <td>
            {{ employee.email }}
          </td>
          <td>
            {{ employee.designation }}
          </td>
          <td>
            {{ employee.role }}
          </td>
        </tr>
      </tbody>
    </table>
  </section>
