* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* make the body full height*/
    /* set our custom font */
    height: 85vh !important;
    font-family: 'Roboto',
        sans-serif;
    display: flex;
}

.invalid-feedback{
    text-align: center;
    font-size: 1.6rem;
    color: #800000;
}

#form_wrapper {
    width: 1000px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50px;
    /* make it a grid container*/
    display: grid;
    /* with two columns of same width*/
      grid-template-columns: 1fr 1fr;
    /* with a small gap in between them*/
    grid-gap: 5vw;
    /* add some padding around */
    padding: 5vh 15px;
    
}

#form_left {
    /* center the image */
    display: flex;
    justify-content: center;
    align-items: center;
}

#form_left img {
    width: 350px;
    height: 350px;
}

#form_right {
    display:grid;
    /* single column layout */
   // grid-template-columns:1fr;
    /* have some gap in between elements*/
    //grid-gap: 20px;
    padding: 5% 5%;
}

h1,
span {
    text-align: center;
}

.input_container {
    /* vertically align icon and text inside the div*/
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.input_container,
#input_submit {
    height:60px;
    /* make the borders more round */
    border-radius: 30px;
    width: 100%;
}

.input_field {
    /* customize the input tag with lighter font and some padding*/
    color: var(--icon_color);
    background-color:#fafafa;
    width: 100%;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    padding:10px 40px;
    border-radius: 8rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.input_field:hover,
.input_field:focus {
    /* remove the outline */
    outline: none;
}

#input_submit {
    /* submit button has a different color and different padding */
    background-color: palevioletred;
    padding-left: 4rem;
    font-weight: bold;
    color:black;
    text-transform: uppercase;
}




i {
    color: var(--icon_color);
}

/* make it responsive */
@media screen and (max-width:768px) {

    /* make the layout a single column and add some margin to the wrapper */
    #form_wrapper {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    
    }
    /* on small screen we don't display the image */
    #form_left {
        display: none;
    }
}
.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12);
    color: rgb(230, 14, 14);
}