<form (ngSubmit)="handleSubmit(form.value)" class="timesheet-form" #form="ngForm" novalidate>
  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Customer Name:
      <input
        name="customerName"
        [ngModel]="project?.customerName"
        disabled="true"
      />
    </div>
  </div>
  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Project Name:
      <select
        name="project"
        [ngModel]="project?.projectName"
        #project="ngModel"
      >
        <option
          *ngFor="let project of projects"
          [value]="project?.projectName"
          [selected]="project?.projectName"
          >{{ project.projectName }}</option
        >
      </select>
    </div>
    <span class="error" [ngClass]="{hide: !(project.errors?.required && project.touched)}">
      Choose atleast a project
    </span>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Task Type:
      <select
        name="task-type"
        [ngModel]="timesheet?.taskType"
        required
        #taskType="ngModel"
      >
        <option
          *ngFor="let taskType of taskTypes"
          [value]="taskType.key"
          [selected]="timesheet?.taskType === taskType.key"
          >{{ taskType.value }}</option
        >
      </select>
    </div>
    <span class="error" [ngClass]="{hide: !(taskType.errors?.required && taskType.touched)}">
      Choose Type of Task
    </span>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Billable:
      <input
        name="billable"
        type="checkbox"
        [ngModel]="timesheet?.billable || false"
      />
    </div>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Company Name:
      <input
        type="text"
        name="companyName"
        [ngModel]="timesheet?.companyName"
        required
        #companyName="ngModel"
      />
    </div>
    <span
      class="error"
      [ngClass]="{hide: !(companyName.errors?.required && companyName.touched)}"
    >
      Fill Company Name of which the project belongs
    </span>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Start Date:
      <input
        type="date"
        name="startDate"
        required
        #startDate="ngModel"
        [ngModel]="timesheet?.startDate"
      />
    </div>
    <span class="error" [ngClass]="{hide: !(startDate.errors?.required && startDate.touched)}">
      Choose start date of the project
    </span>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      End Date:
      <input
        type="date"
        name="endDate"
        [ngModel]="timesheet?.endDate"
        required
        #endDate="ngModel"
      />
    </div>
    <span class="error" [ngClass]="{hide: !(endDate.errors?.required && endDate.touched)}">
      Choose End Date of the project
    </span>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      No. of hours:
      <input
        type="number"
        name="noOfHours"
        min="0"
        max="40"
        required
        #noOfHours="ngModel"
        [ngModel]="timesheet?.noOfHours"
        onkeydown="return false"
      />
    </div>
    <span class="error" [ngClass]="{hide: !(noOfHours.errors?.required && noOfHours.touched)}">
      Fill no. of hours you worked on it
    </span> 
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      Description:
      <input
        type="text"
        name="description"
        [ngModel]="timesheet?.description"
      />
    </div>
  </div>

  <div class="input-wrapper-parent">
    <div class="input-wrapper">
      <button
        type="submit"
        [disabled]="!form.valid"
        [ngClass]="!form.valid && 'disabled'"
      >
        Create Timesheet
      </button>
    </div>
  </div>
  {{ noOfHours.errors | json }}
  {{ form.value | json }}
</form>
