@import "../../variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 8vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  
  &__logo-container {
    background: url("../../assets/images/Cyber-Group_logos-02.png");
    width: 30%;
    min-height: inherit;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  &:after{
    content: '';
    display: block;
  }
}
