.project-card{
    margin-top:-4.4rem;
   padding:20px;

}
.control-label{
    font-size:11px;
    padding:0;
}
.error{
  font-size: 1rem;
  color: red;
}
.btn{
    width:30%;
   margin-left:40%;
    outline-color: #0183FF;
    outline-style: auto;
    font-size:9px;
    
}
.button-parent{
    min-width:40px;
    margin-top:-15px;

    & > *{
        white-space: nowrap;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
    }   
}

mat-select{
    text-align: left;
}

label, mat-label{
    text-align: left;
    width: 25%;
}