<div class="wrapper">
  

   <app-navbar></app-navbar>
    <div class="row">
      
      <div class="col-2 d-none d-lg-block">
        <app-sidebar [menus]="menus"></app-sidebar>
     </div>
      <div class="custom-card col-6">
   
       <div class="app-employee-form"> 
         <form
          class="form-body needs-validation"

          #form="ngForm"
           (ngSubmit)="employeeCreateOrUpdate(form.value, typeOfForm, form)"
           novalidate>
            <div
             class="h4 mb-4
               d-flex justify-content-between font-weight-bold"
               style="font-size: 1.1rem;"
             >
             {{
               typeOfForm === "get"
               ? "Employee Data for " + employee?.empId
               : typeOfForm === "create"
              ? "Create Employee"
              : "Update Employee"
            }}
          
        </div>
  
        <div class="h4 mb-4 was-validated">
          <label class="control-label" for="empId">Employee ID: </label>
         
         <input
            type="text"
            id="empId"
            class="form-control "
            placeholder="Employee Id"
            [(ngModel)]="employee && employee.empId"
            name="empId"
            required 
            maxlength="6" 
            minlength="1"
            [readonly]="!(typeOfForm === 'create')"
            #empId="ngModel"
          />
      </div>  
        
  
      <div class="form-group h4 mb-4 was-validated" [class.has-error]="email.invalid && email.touched"
      >
        <label class="control-label"for="email">Email Id: </label>
  
        <input
          type="text"
          id="email"
          class="form-control"
          placeholder="Email"
          [(ngModel)]="employee && employee.email"
          name="email"
          required
          minlength="2"
          maxlength="30"
          [disabled]="typeOfForm === 'get'"
          #email="ngModel"
        />
       
         <p  *ngIf="email.invalid && email.touched">Email is required</p>
           
        </div>
     
        <div class="h4 mb-4 form-group was-validated" [class.has-error]="empName.invalid && empName.touched"
       
        >
           <label class="control-label"for="name">Name: </label>
  
          <input
            type="text"
            id="emp_name"
            class="form-control"
            placeholder="Employee Name"
            [(ngModel)]="employee && employee.name"
             name="name"
            required 
            maxlength="30" minlength="2"
           [disabled]="typeOfForm === 'get'"
            #empName="ngModel"
          />
         <p *ngIf="empName.touched && empName.invalid">Required</p>
        </div>
       
        <div class="form-group h4 mb-4 was-validated" [class.has-error]="addressInput.invalid && addressInput.touched"
        >
           <label class="control-label"for="address">Address: </label>
  
          <input
            type="text"
            id="address"
            class="form-control"
            placeholder="Address"
            [(ngModel)]="employee && employee.address"
            name="address"
            required
            minlength="8"
            maxlength="40"

            [disabled]="typeOfForm === 'get'"
            #addressInput="ngModel"
          />
          <p  *ngIf="addressInput.invalid && addressInput.touched">Address is required</p>
        </div>
  
        <div class=" form-group h4 mb-4 was-validated"[class.has-error]="phoneInput.invalid && phoneInput.touched">
           <label for="phone"class="control-label">Phone: </label>
  
          <input
            type="text"
            id="phone"
            class="form-control"
            placeholder="Phone"
            [(ngModel)]="employee && employee.phone"
            name="phone"
            required
            minlength=8
            maxlength=11
            [disabled]="typeOfForm === 'get'"
            #phoneInput="ngModel"
          />
          <p  *ngIf="phoneInput.invalid && phoneInput.touched">phoneNo is required</p>
        </div>
  
        <div class="form-group h4 mb-4 was-validated"[class.has-error]="joiningInput.touched">
           <label class="control-label"for="joining">Joining: </label>
  
          <input
            type="date"
            id="joining"
            class="form-control"
            placeholder="Joining"
            [(ngModel)]="employee && employee.joining"
            name="joining"
            required
            [disabled]="typeOfForm === 'get'"
            #joiningInput="ngModel"
          />
          <p  *ngIf="joiningInput.touched">joiningDate is required</p>
        </div>
       
        
        <div class="form-group h4 mb-4 was-validated"[class.has-error]="designationInput.touched">
           <label for="designation"class="control-label">Designation: </label>
  
          <select
            class="browser-default custom-select"
            name="designation"
            required
            [(ngModel)]="employee && employee.designation[0]"
            [disabled]="typeOfForm === 'get'"
            #designationInput="ngModel"
          >
            <option value="" disabled>Choose option</option>
            <option value="Associate" selected>Associate</option>
            <option value="Consultant 2">Consultant 2</option>
            <option value="Consultant 1">Consultant 1</option>
            <option value="Intern">Intern</option>
          </select>
          <p  *ngIf="designationInput.touched">Designation is required</p>
        </div>
  
        <div class="h4 mb-4 form-group was-validated"[class.has-error]="role.touched">
           <label for="role"class="control-label">Role: </label>
  
          <select
            required
            class="browser-default custom-select mb-4"  
            name="role"
            [(ngModel)]="employee && employee.role[0]"
            [disabled]="typeOfForm === 'get'"
            #role="ngModel"
           
          >
            <option value="" hidden default selected >Choose option</option>
            <option value="Employee" >Employee</option>
            <option value="Project Manager">Project Manager</option>
            <option value="C Level Manager">C Level Manager</option>
          </select>
          <p  *ngIf="role.touched">Role is required</p>
        </div>
        <div class="button-parent" *ngIf="formType !=='get'">
          <button
            mdbBtn
            class=" btn logout text-center m-4"
            mdbWavesEffect
            
           
            type="submit"
            
            
          >
          {{ typeOfForm === "create" ? "Add Employee" : "Update Employee" }}
      </button>
        
          <button
            type="button"
            mdbBtn
            class=" btn logout text-center m-4"
            mdbWavesEffect
            [routerLink]="['/admin']"
          >
            Cancel
          </button>
          <div class="message">{{ this.message }}</div>
        </div>
      </form>
      <!-- {{ form.value | json }} -->
    </div>
  </div>
</div>