.main{
    /* padding: 0.8rem 4rem;
     margin: 0 0;
     //  justify-content: center;
     //  align-items: center;*/
     display:flex;
     flex-wrap: nowrap;
 }
 
 h2{
     align-items:center ;
     font-weight: bolder;
 }
 
p{
    color:red;
}
.app-main{
    padding: 0.8rem 4rem;
margin: 0 auto;}
.message{
    font-size: 2rem;
    color: red;
    transition: all 2s;
}
help-block{
    color:red!important;
}
.form-body{
    // margin-left:8rem;
    // border-radius: 2rem;
    background-color:whitesmoke;
    padding:50px;
    // color:white;
    // margin-top:2rem;
     height:fit-content;
     min-width:70vh;
}
.custom-card {
    box-shadow: 2px 2px 2px 2px rgba(50, 50, 50, 0.1);
    background:white;
    padding: 10px;
    margin-left:10rem;
    
}
.form-control,.custom-select
{
    display: block;
    width:70%;
    float:right;


}
.error{
  font-size: 1.5rem;
  color: red;
}
.btn{
    width:30%;
   margin-left:40%;
    outline-color: #0183FF;
    outline-style: auto;
  

}
.button-parent{
    margin-left:20%;
    min-width:40px;
}
