.main{
    /* padding: 0.8rem 4rem;
     margin: 0 0;
     //  justify-content: center;
     //  align-items: center;*/
     display:flex;
     flex-wrap: nowrap;
 }
 
 h2{
     align-items:center ;
     font-weight: bolder;
 }
 
 .btn{
     width:40%;
     margin-left:20%;
 
 }
 .navbar{
     justify-content: space-between;
     height: 4rem;
     background-color: black;
 }
 .message{
     font-size: 2rem;
     color: red;
     transition: all .2s;
 }

.app-main{
    padding: 0.8rem 4rem;
margin: 0 auto;}
.message{
    font-size: 2rem;
    color: red;
    transition: all 2s;
}
.form-body{
    margin-left:27rem;
    border-radius: 2rem;
    background-color:#1d1d1d;
    color:white;
    margin-top:2rem;
    height:auto;
    max-width:100%;
}

.form-control,.custom-select
{
    display: block;
    width:70%;
    float:right;


}
.error{
  font-size: 1.5rem;
  color: red;
}
.btn{
    width:40%;
    margin-left:20%;

}