<mat-toolbar color="primary" class="navbar">
    <div>
      Admin Dashboard
    </div>
    <div>
      <span routerLink="/myProfile">My Profile</span>
      <span routerLink="/admin">Employees</span>
      <span routerLink="/projects">Projects</span>
    </div>
</mat-toolbar>
    
<div class="container bootstrap snippet">
    <div class="panel-body inf-content">
        <div class="row mt-5">
            <div class="col-md-4 col-lg-4 col-sm-12">
                <img alt=""  title="" class="img-circle img-fluid ml-auto isTooltip" src="https://bootdey.com/img/Content/user-453533-fdadfd.png" data-original-title="Usuario">
            </div>
            <div class="">
                <h1 class="font-weight-bold head-design">My Information</h1>
                <div class="table-responsive">
                <table class="table table-condensed table-responsive table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"> </span>
                                    Employee ID
                                                                          
                                </strong>
                            </td>
                            <td class="">
                             {{employee?.empId}}
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  "></span>    
                                    Name                                           
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.name}}  
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud "></span>  
                                Designation                                                
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.designation}}
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark "></span> 
                                    Role                                          
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.role}} 
                            </td>
                        </tr>
    
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-eye-open "></span> 
                                    Phone                                         
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.phoneNo}}
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope "></span> 
                                    Email                                                
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.email}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar "></span>
                                    Joining Date                                              
                                </strong>
                            </td>
                            <td class="">
                                {{employee?.joining | date}}
                            </td>
                        </tr>
                        <!-- <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-calendar text-primary"></span>
                                    Years Completed:                                               
                                </strong>
                            </td>
                            <td class="text-primary">
                            
                            </td>
                        </tr>                                     -->
                    </tbody>
                </table>
                <button
                type="button"
                mdbBtn
                color="primary"
                class="btnstyle text-dark font-weight-bold"
                mdbWavesEffect
                [routerLink]="['/admindashboard']"
              >
                Back
              </button>
                </div>
            </div>
        </div>
    </div>
    </div>                                      